{% extends "base.html" %}

{% block titulo %}
    <h1>Guarnições</h1>
{% endblock titulo %}

{% block content %}
<legend>
    Consultar Guarnição
</legend>
<table class="table table-striped table-bordered table-hover">
		<tr>
			<th>Codigo</th>
			<th>Nome</th>
			<th>Missão</th>
            <th>Excluir</th>
            <th>Editar</th>
		</tr>
		{%for guarnicao in guarnicoes %}
		<tr>
			<td><a href="/escalas/guarnicao/{{guarnicao.id}}">{{guarnicao.id}}</a></td>
			<td>{{guarnicao.nome}}</td>
			<td>{{guarnicao.missao}}</td>
            <td><a href="#" style="text-align: center; display: block"><img src="{{STATIC_URL}}img/trash.png"></img></a></td>
            <td><a href="#" style="text-align: center; display: block"><img src="{{STATIC_URL}}img/edit.png"></img></a></td>
		</tr>
		{%endfor%}
	</table>

{% endblock content %}